#bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 0;
}
#bottom button {
	position: absolute;
	border-radius: 0px;
	display: inline;
  vertical-align: bottom;
  bottom: 0;
  border: 0px;
  border-color: #FFFFFF;
  padding: 0px;
  margin: 0px;
  width: 33%;
  height: 45px;
  margin: 0;
  float: left;
}
#upload-btn {
	left: 33.5%;
	/*background-color: #0176C3;*/
}
#message-btn {
	align-content: center;
	vertical-align: middle;
	right: 0%;
}

.filebox label {
  vertical-align: middle;
}
.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  vertical-align: middle;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

#badge {
  position: absolute;
  text-align: center;
  font-size: 95%;
  line-height: 26px;
  right: 5px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #FF4081;
  float: right;
}