/* Skeleton Reference http://codepen.io/blaketarter/pen/emWbYm */

* {
  box-sizing: border-box;
}

.title {
  color: #ffffff;
  text-align: center;
  font-weight: 100;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
  position: fixed;
  
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.wrapper .inner {
  overflow: scroll;
  height: 680px;
  padding-top: 64px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.wrapper .inner::-webkit-scrollbar {
  width: 0 !important;
}
.wrapper .inner .content {
  padding: 10.66667px;
  position: relative;
  margin-bottom: 32px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}


.nav .default-nav {
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 110;
  background-color: #2196F3;
  border-bottom: 3px solid #2196F3;
  color: #ffffff;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav .default-nav .main-nav {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav .toggle {
  height: 32px;
  width: 32px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_arrow_back_white_48dp.png);
  background-size: contain;
  margin: 6px;
  float: left;
}
.nav .default-nav .main-nav .toggle:hover {
  cursor: pointer;
}

.nav .default-nav .main-nav .main-nav-item {
  float: left;
  height: 30px;
  margin-right: 40px;
  position: relative;
  line-height: 44px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav .default-nav .main-nav .main-nav-item .main-nav-item-link {
  display: block;
  position: relative;
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}


#input_text{
    border-top-color : #f1f1f1;
    border-top-width: thin;
    border-top-style: solid;
}

.input_text {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #ffffff;
  /* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */
}
.input_text .input {
  height: 64px;
  background: #ffffff;
  border: none;
  width: calc(100% - 64px);
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 5%;
  resize: none;
  overflow: scroll;
  padding-top: 24px;
  font-weight: 300;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.input_text .input:focus {
  outline: none;
}
.input_text .input::-webkit-scrollbar {
  width: 0 !important;
}

/*
.input_text .send {
  position: fixed;
  height: 42.66667px;
  width: 42.66667px;
  border-radius: 50%;
  border: 10px;
  background: #ffffff;
  color: #ffffff;
  bottom: 10.66667px;
  right: 10.66667px;
}
*/
/*
.input_text .send:before {
  background-color: #2196F3;
  content: '';
  background: url(https://cdn4.iconfinder.com/data/icons/system-ui/154/reply-send-resend-arrow-right-512.png) no-repeat center center;
  background-size: 40.6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
*/
#sendbutton {
bottom: 15.66667px;
right: 10.66667px;
position: fixed;
}


.images{
    
    border-radius: 50%;
    height: 50px;
    width: 50px;

}




.container {
  display: flex;
  vertical-align: middle;
  font-size : 20px;
}
.box-left {
  flex: 1;
}
.box-center {
  flex: 10;
  text-align: center;
  vertical-align: middle;
}
.box-right {
  flex: 3;
  text-align: right;
  vertical-align: middle;
}


.box-text{
    vertical-align:middle
    
}



.message {
  text-align: right;      
  
}

.message_contents{
    font-size : 20px;
    color : #2196F3;
}

.message_time{
    font-size : 15px;
    color : #000000;
    margin-bottom: 5px;
}

#yourmessage{
    text-align: left;
    color : #000000;
}

