html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.mui-appbar {
  padding: 5px;
  margin-bottom: 5px;
  height: 30px !important;
  min-height: 0;
}
header .title {
  font-size: 20px;
}

.mui-container {
  margin-bottom: 5px;
  padding: 3px 0px 3px 0px;
}
#photos {
  width: 100%;
  height: auto;
  margin: 15px 0px;
}
#photos .column {
  width: 33.3333333%;
  float: left;
}
#photos .column img {
  padding: 3px;
}

.mui-divider {
  bottom: 1;
  margin: 5px;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
}
#bottom button {
  vertical-align: bottom;
  bottom: 0;
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 32%;
  height: 40px;
  margin: 0;
  float: left;
}
#bottom #photo-btn, #bottom #upload-btn {
  margin-right: 2%;
}

.filebox label {
  vertical-align: middle;
}
.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  vertical-align: middle;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

/* for icons */
.fa {
  vertical-align: middle;
  font-size: 20pt;
}
